:root{
    --primary-color: blue;
}

h1{
    color: var(--primary-color);
}

p{
    color: var(--primary-color)
}

div{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: var(--primary-color)
}